<launch>
    <!-- joy node -->
        <node respawn="true" pkg="joy" type="joy_node" name="minirover_joy" >
            <param name="dev" type="string" value="/dev/input/js1" />
        </node>

    <!-- usb camera node-->
        <node name="usb_cam" pkg="usb_cam" type="usb_cam_mode">
            <param name="video_device" value="/dev/video0" />
        </node>
</launch> 